$sectionSpace: 100px;
$fontSizeXl2: 30px;
$fontSizeXl1: 25px;
$fontSizeLg: 20px;
$pFontSize: 16px;
$smFontSize: 14px;

// color
$white: #fff;
$black: #272727;
$red: #ff0000;

// Font Weight
$bold: bold;